smartFitness
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
CMakeFiles/
daemons/vscode/
vscode/
.vscode/tasks.json
smartFitness_autogen/

CMakeLists.txt.user
src/main.cpp.autosave

daemons/.vscode/settings.json
daemons/build/AquireImage
daemons/.vscode/launch.json
